p[title="msg"]{
    color: green;
}

span[title]{
    color: pink;
}

p[title|="msg"]{
    background-color: yellow;
}

p[title~="msg"]{
    font-style: italic;
}

p[title^="wel"]{
    color: blue;
}

p[title$="me"]{
    font-weight: bold;
}

p[title*="ms"]{
    text-decoration: underline;
}