.translate {
    width:100px;
    height:100px;
    background: green;
    -ms-transform: translate(50px,50px); /* IE 9 */
    -webkit-transform: translate(50px,50px); /* Safari */
    transform: translate(50px,50px);
}

.rotate {
    position: relative;
    top: 100px;
    width:100px;
    height:100px;
    background: yellow;
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari */
    transform: rotate(20deg);

}

.scale {
    position: relative;
    top: 100px;
    left:150px;
    width:100px;
    height:100px;
    background: pink;
    -ms-transform: scale(2,3); /* IE 9 */
    -webkit-transform: scale(2,3); /* Safari */
    transform: scale(2,3);
}

.skew-x {
    position: relative;
    top: 100px;
    left:350px;
    width:100px;
    height:100px;
    background: blue;
    -ms-transform: skewX(20deg); /* IE 9 */
    -webkit-transform: skewX(20deg); /* Safari */
    transform: skewX(20deg);
}

.skew-y {
    position: relative;
    top: 100px;
    left:350px;
    width:100px;
    height:100px;
    background: gray;
    -ms-transform: skewY(20deg); /* IE 9 */
    -webkit-transform: skewY(20deg); /* Safari */
    transform: skewY(20deg);
}