.checkbox:checked{
    width: 50px;
    height: 50px;
 }

input:disabled{
    background: pink;
}
input:enabled{
    background: green;
}
div{
    background: green;
    width: 100px;
    height: 100px;
}
input:focus{
    background: blue;
    border: 2px solid black;
    border-radius: 5px;
    padding :5xp;
}
input:invalid{
    background: red;
}
input:in-range{
    background: yellow;
}
div:empty{
    background: red;
    width: 100px;
    height: 100px;
}
p:first-of-type{
    color:yellow;
}

p:not(.para){
    color : green;
}

li:nth-child(2){
    color:yellow;
}
li:nth-last-child(2){
    color:red;
}