.rotate-x {
    width:100px;
    height: 100px;
    background: green;
    -webkit-transform: rotateX(150deg); /* Safari */
    transform: rotateX(150deg);
}

.rotate-y {
    width:100px;
    height: 100px;
    background: yellow;
    -webkit-transform: rotateY(130deg); /* Safari */
    transform: rotateY(130deg);
}
.rotate-z {
    width:100px;
    height: 100px;
    background: pink;
    -webkit-transform: rotateZ(90deg); /* Safari */
    transform: rotateZ(90deg);
}