.a{
    width: 100px;
    height: 100px;
    background: red;
    margin: 5px;
    float: right;
}
.b{
    width: 100px;
    height: 100px;
    background: yellow;
    margin: 5px;
    float: right;
}
.c{
    width: 100px;
    height: 100px;
    background: green;
    margin: 5px;
    float: right;
}
.d{
    width: 100px;
    height: 100px;
    background: blue;
    margin: 5px;
    clear: both;
}