.border{
    border-style: solid;
    border-width: 10px;
    border-color: green;
    width:100px;
    height: 100px;
    margin: 10px;
}

.border-single{
    border: 10px solid green;
    width:100px;
    height: 100px;
    margin: 10px;
}

.border-two{
    border-top: 3px solid yellow;
    border-bottom: 3px dotted red;
    border-left: 3px groove pink;
    border-right: 6px ridge greenyellow;
    width:100px;
    height: 100px;
    margin: 10px;
}