.transition {
    width: 10px;
    height: 100px;
    background: red;
    transition-property: width, background;
    transition-duration: 3s;
    transition-timing-function: linear;
    transition-delay: 0.2s;
}
.transition:hover{
    width: 100%;
    background: yellow;
}


/* The animation code */
@keyframes myAnimation {
    0%{
        top:10px;
        left:10px;
        background-color: red;
    }

    25%{
        top:10px;
        left: 400px;
        background-color: pink;
    }

    50%{
        top:400px;
        left: 400px;
        background-color: blue;
    }

    75%{
        top:400px;
        left: 10px;
        background-color: yellow;
    }


    100%{
        top:10px;
        left: 10px;
        background-color: green;
    }
}

.animation {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: myAnimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 2s;
}

