.max{
    border: 1px solid black;
    max-width:100px;
    height: auto;
    padding: 10px;
    margin-bottom: 10px;
}

.min{
    border: 1px solid black;
    min-width:500px;
    height: auto;
    padding: 10px;
}