.margin-div{
    border: 1px solid black;
    width:100px;
    height: 100px;
    margin: 10px 20px 30px 40px;
    float: left;
}
.margin-div-two{
    border: 1px solid black;
    width:100px;
    height: 100px;
    float: left;
}
.margin-div-bottom{
    border: 1px solid black;
    width:100px;
    height: 100px;
    clear: both;
}