.para-a::after{
    content: " *";
    color:red;
}

.para-b::before{
    content: " #";
    color:green;
}

.para-c::first-letter{
    color:green;
}

.para-d::first-line{
    color: blue;
}
.para-e::selection{
    background: yellow;
    color:red;
}