.outline{
    border-style: solid;
    border-width: 10px;
    border-color: green;
    outline-style: double;
    outline-width: 10px;
    outline-color: red;
    width:100px;
    height: 100px;
    margin: 10px;
}

.outline-single{
    border: 10px solid green;
    outline: 10px dotted pink;
    width:100px;
    height: 100px;
    margin: 10px;
}

.outline-two{
    border-top: 3px solid yellow;
    border-bottom: 3px dotted red;
    border-left: 3px groove pink;
    border-right: 6px ridge greenyellow;
    width:100px;
    height: 100px;
    margin: 10px;
}