body{
    overflow-x: hidden;
    overflow-y: hidden ;
}
.div{
    border: 2px solid  black;
    margin-bottom: 10px;
    width: 2000px;
    height: 100px;
    background: yellow;
    cursor: move;
}
.p-div{
    border: 2px solid  black;
    width: 500px;
    height: 500px;
    background: pink;
    padding: 10px;
}
.c-div-one{
    border: 2px solid  black;
    background: lightgreen;
    margin: 10px;
    width: 100px;
    position: relative;
    top:10px;
    left:10px;
}

.c-div-two{
    border: 2px solid  black;
    width: 100px;
    background: lightgoldenrodyellow;
    margin: 10px;
    position: absolute;
    top: 10px;
    right:100px;
}

.c-div-three{
    border: 2px solid  black;
    width: 100px;
    background: red;
    margin: 10px;
    position: fixed;
    top: 100px;
    right:200px;
}

.clip{
    position: absolute;
    background: red;
    width: 100px;
    height: 100px;
    clip: rect(0px,60px,10px,10px);
}